<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">

	<!-- 관리자 list조회 -->
	<select id="selectAdminInfo" parameterType="HashMap" resultType="HashMap">
		SELECT 
			ADMIN_UUID
			, GRADE_UUID
			, ADMIN_ID
			, ADMIN_NAME
			, IFNULL(DEPT_NAME, "-") AS DEPT_NAME
			, IFNULL(SPOT_NAME, "-") AS SPOT_NAME
			, ADMIN_HP
			, ADMIN_EMAIL
			, ADMIN_STATUS
			, REG_STATUS
			, REG_REQ_DATE
			, AUTH_CODE
		FROM 
			bitstoa.tbl_admin_info
		WHERE
			DEL_DATE IS NULL
		
		<if test="pageNo != null and rows != null" >
			LIMIT #{pageNo}, #{rows}
		</if>
		
	</select>
	
	<!-- 관리자 list count 조회 -->
	<select id="selectAdminCount" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM 
			bitstoa.tbl_admin_info
	</select>
	
	<!-- 관리자 active 설정 변경  -->
	<update id="activeAdminInfo" parameterType="HashMap">	 
		UPDATE 	
			tbl_admin_info 
		SET 
			${column} = #{val} 
		WHERE 
			ADMIN_UUID = #{no} 
	</update>
	
	<!-- 관리자 등급 변경 -->
	<update id="gradeChangeAdmin" parameterType="HashMap">
		UPDATE 	
			tbl_admin_info 
		SET 
			GRADE_UUID = #{GRADE_UUID} 
		WHERE 
			ADMIN_UUID = #{ADMIN_UUID} 
	
	</update>
	
	<!-- 관리자 삭제  -->
	<update id="deleteAdmin" parameterType="HashMap">	 
		UPDATE 	
			tbl_admin_info 
		SET 
			DEL_DATE = CURRENT_TIMESTAMP 
		WHERE 
			ADMIN_UUID = #{ADMIN_UUID} 
	</update>
	
	<!-- 관리 제어 -->
	<select id="selectAuthControl" resultType="HashMap">
		SELECT	
			*
		FROM
			bitstoa.tbl_auth_control	
		LIMIT 1
	</select>

	<!-- -->
	<update id="authControlUpdate" parameterType="HashMap">
		UPDATE 	
			bitstoa.tbl_auth_control	
		SET 
			${column} = #{val}

	
	</update>

</mapper>