<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nodehistory">

	<!--  -->
 	<insert id="insertrequest" parameterType="hashMap">
		<![CDATA[
            insert into ${SYMBOL}_wallet.tbl_node_history ( 
										c_tm							                          
									]]>	     
									<if test='C_TM != null'>
										<![CDATA[										
										, c_tm
										]]>
									</if>
									<if test='U_TM != null'>
										<![CDATA[										
										, u_tm
										]]>
									</if>
									<if test='D_TM != null'>
										<![CDATA[										
										, d_tm
										]]>
									</if>
									<if test='SERIAL != null'>
										<![CDATA[										
										, serial
										]]>
									</if>									
									<if test='PRICE != null'>
										<![CDATA[												
										, price
										]]>
									</if>
									<if test='MAXP != null'>
										<![CDATA[											
										, maxp
										]]>
									</if>
									<if test='REWARD != null'>
										<![CDATA[											
										, reward
										]]>
									</if>
									<if test='STARTDAY != null'>
										<![CDATA[											
										, startday
										]]>
									</if>
									<if test='LASTDAY != null'>
										<![CDATA[											
										, lastday
										]]>
									</if>													
								<![CDATA[
                                      )
				values	(
						now()
						]]>	        
						<if test='C_TM != null'>
							<![CDATA[
							, #{C_TM}
							]]>
						</if>
						<if test='U_TM != null'>
							<![CDATA[
							, #{U_TM}
							]]>
						</if>
						<if test='D_TM != null'>
							<![CDATA[
							, #{D_TM}
							]]>
						</if>
						<if test='SERIAL != null'>
							<![CDATA[
							, #{SERIAL}
							]]>
						</if>						
						<if test='PRICE != null'>
							<![CDATA[												
							, #{PRICE}
							]]>
						</if>
						<if test='MAXP != null'>
							<![CDATA[												
							, #{MAXP}
							]]>
						</if>
						<if test='REWARD != null'>
							<![CDATA[												
							, #{REWARD}
							]]>
						</if>
						<if test='STARTDAY != null'>
							<![CDATA[												
							, #{STARTDAY}
							]]>
						</if>
						<if test='LASTDAY != null'>
							<![CDATA[
	            			, #{LASTDAY}
							]]>
						</if>									
		<![CDATA[
					)  
		]]>
		<selectKey keyProperty="IDX" resultType="integer"
			order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>

	<!-- -->
	<update id="updaterequest" parameterType="hashMap">
		<![CDATA[
			update	${SYMBOL}_wallet.tbl_node_history
			set u_tm =  now()
		]]>	
		<if test='C_TM !=null'>
			<![CDATA[			
				, c_tm = #{C_TM}
		]]>			
		</if>
		<if test='U_TM !=null'>
			<![CDATA[				
				, u_tm = #{U_TM}
		]]>
		</if>
		<if test='D_TM !=null'>
			<![CDATA[				
				, d_tm = #{D_TM}
		]]>
		</if>
		<if test='SERIAL !=null'>
			<![CDATA[			
				, serial = #{SERIAL}
		]]>			
		</if>
		<if test='PRICE !=null'>
			<![CDATA[				
				, price = #{PRICE}
		]]>			
		</if>		
		<if test='MAXP !=null'>
			<![CDATA[				
				, maxp = #{MAXP}
		]]>			
		</if>
		<if test='REWARD !=null'>
			<![CDATA[				
				, reward = #{REWARD}
		]]>			
		</if>
		<if test='STARTDAY !=null'>
			<![CDATA[				
				, startday = #{STARTDAY}
		]]>			
		</if>
		<if test='LASTDAY !=null'>
			<![CDATA[				
				, lastday = #{LASTDAY}
		]]>			
		</if>
		<![CDATA[
			where	idx = #{IDX}
		]]>
	</update>
	
	<!--  -->	
	<select id="selectrequest" parameterType="hashMap" resultType="hashMap">
		<![CDATA[
			SELECT	tw.idx
					, IFNULL(tw.c_tm, '0') AS c_tm
					, IFNULL(tw.u_tm, '0') AS u_tm
					, IFNULL(tw.d_tm, '0') AS d_tm
					, IFNULL(tw.serial, '0') AS serial
					, IFNULL(tw.price, '0') AS price
					, IFNULL(tw.maxp, '0') AS maxp
					, IFNULL(tw.reward, '0') AS reward
					, tw.startday
					, tw.lastday
			FROM ${SYMBOL}_wallet.tbl_node_history tw
			WHERE 1=1
			]]>
			<if test='IDX > 0'>
			<![CDATA[
				AND tw.idx=#{IDX}
			]]>
			</if>								
			<if test='C_TM != null'>
				<![CDATA[
					AND tw.c_tm = #{C_TM}
				]]>
			</if>
			<if test='U_TM != null'>
				<![CDATA[
					AND tw.u_tm = #{U_TM}
				]]>
			</if>
			<if test='D_TM != null'>
				<![CDATA[
					AND tw.d_tm = #{D_TM}
				]]>
			</if>
			<if test='SERIAL != null'>
				<![CDATA[
					AND tw.serial = #{SERIAL}
				]]>
			</if>
			<if test='REWARD != null'>
				<![CDATA[
					AND tw.reward = #{REWARD}
				]]>
			</if>
			<if test='STARTDAY != null'>
				<![CDATA[
					AND tw.startday = #{STARTDAY}
				]]>
			</if>
			<if test='LASTDAY != null'>
				<![CDATA[
					AND tw.lastday = #{LASTDAY}
				]]>
			</if>
			<if test='FROMD != null and TOD != null'>
				<![CDATA[
					AND DATE(tw.c_tm) BETWEEN #{FROMD} AND #{TOD}
				]]>
			</if>
			<![CDATA[
				ORDER BY 1 DESC
			]]>  
			<if test='PAGENO != null and ROWS != null'>
				<![CDATA[
					LIMIT	#{PAGENO}, #{ROWS}
				]]> 
			</if>

	</select>	

	<select id="countrequest" parameterType="hashMap" resultType="hashMap">
		<![CDATA[
			SELECT COUNT(*) COUNT
			FROM ${SYMBOL}_wallet.tbl_node_history tw 
			WHERE 1=1
			]]>
			<if test='IDX > 0'>
			<![CDATA[
				AND tw.idx=#{IDX}
			]]>
			</if>							
			<if test='C_TM != null'>
				<![CDATA[
					AND tw.c_tm = #{C_TM}
				]]>
			</if>
			<if test='U_TM != null'>
				<![CDATA[
					AND tw.u_tm = #{U_TM}
				]]>
			</if>
			<if test='D_TM != null'>
				<![CDATA[
					AND tw.d_tm = #{D_TM}
				]]>
			</if>
			<if test='SERIAL != null'>
				<![CDATA[
					AND tw.serial = #{SERIAL}
				]]>
			</if>
			<if test='REWARD != null'>
				<![CDATA[
					AND tw.reward = #{REWARD}
				]]>
			</if>
			<if test='STARTDAY != null'>
				<![CDATA[
					AND tw.startday = #{STARTDAY}
				]]>
			</if>
			<if test='LASTDAY != null'>
				<![CDATA[
					AND tw.lastday = #{LASTDAY}
				]]>
			</if>
			<if test='FROMD != null and TOD != null'>
				<![CDATA[
					AND DATE(tw.c_tm) BETWEEN #{FROMD} AND #{TOD}
				]]>
			</if>
	</select>
			
	<select id="selectone" parameterType="hashMap" resultType="hashMap">
		<![CDATA[
			SELECT	tw.idx
					, IFNULL(tw.c_tm, '0') AS c_tm
					, IFNULL(tw.u_tm, '0') AS u_tm
					, IFNULL(tw.d_tm, '0') AS d_tm
					, IFNULL(tw.serial, '0') AS serial
					, IFNULL(tw.price, '0') AS price
					, IFNULL(tw.maxp, '0') AS maxp
					, IFNULL(tw.reward, '0') AS reward
					, tw.startday
					, tw.lastday
			FROM ${SYMBOL}_wallet.tbl_node_history tw
			WHERE 1=1
		]]>
		<if test='IDX > 0'>
		<![CDATA[
			AND tw.idx=#{IDX}
		]]>
		</if>
		<if test='SERIAL != null'>
		<![CDATA[
			AND tw.serial=#{SERIAL}
		]]>
		</if>		
		<if test='D_TM != null'>
		<![CDATA[
			AND tw.d_tm=#{D_TM}
		]]>
		</if>
		<!-- AND tb.account_number IS NOT NULL  -->
		<!-- AND tb.account_number != '' -->
		LIMIT 0, 1		
	</select>
	
	<delete id="realdeleterequest" parameterType="hashMap">
		<![CDATA[
			delete from ${SYMBOL}_wallet.tbl_node_history where idx = #{IDX}
		]]>
	</delete>

</mapper>	
