<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="unlockhistory">

	<!--  -->
 	<insert id="insertrequest" parameterType="hashMap">
		<![CDATA[
            insert into ${SYMBOL}_wallet.tbl_ulock_history ( 
										c_tm							                          
									]]>	     
									<if test='C_TM != null'>
										<![CDATA[										
										, c_tm
										]]>
									</if>
									<if test='USR_NO != null'>
										<![CDATA[										
										, usr_no
										]]>
									</if>
									<if test='AMOUNT != null'>
										<![CDATA[										
										, amount
										]]>
									</if>
									<if test='TXID != null'>
										<![CDATA[										
										, txid
										]]>
									</if>														
								<![CDATA[
                                      )
				values	(
						now()
						]]>	        
						<if test='C_TM != null'>
							<![CDATA[
							, #{C_TM}
							]]>
						</if>
						<if test='USR_NO != null'>
							<![CDATA[
							, #{USR_NO}
							]]>
						</if>
						<if test='AMOUNT != null'>
							<![CDATA[
							, #{AMOUNT}
							]]>
						</if>
						<if test='TXID != null'>
							<![CDATA[
							, #{TXID}
							]]>
						</if>						
		<![CDATA[
					)  
		]]>
		<selectKey keyProperty="IDX" resultType="integer"
			order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>

	<!-- -->
	<update id="updaterequest" parameterType="hashMap">
		<![CDATA[
			update	${SYMBOL}_wallet.tbl_ulock_history
			set usr_no =  now()
		]]>	
		<if test='C_TM !=null'>
			<![CDATA[			
				, c_tm = #{C_TM}
		]]>			
		</if>
		<if test='USR_NO !=null'>
			<![CDATA[				
				, usr_no = #{USR_NO}
		]]>
		</if>
		<if test='AMOUNT !=null'>
			<![CDATA[				
				, amount = #{AMOUNT}
		]]>
		</if>
		<if test='TXID !=null'>
			<![CDATA[			
				, txid = #{TXID}
		]]>			
		</if>			
		<![CDATA[
			where	idx = #{IDX}
		]]>
	</update>
	
	<!--  -->	
	<select id="selectrequest" parameterType="hashMap" resultType="hashMap">
		<![CDATA[
			SELECT	tw.idx
					, IFNULL(tw.c_tm, '0') AS c_tm
					, tw.usr_no
					, IFNULL(tw.amount, '0') AS amount
					, IFNULL(tw.txid, '0') AS txid
			FROM ${SYMBOL}_wallet.tbl_ulock_history tw
			WHERE 1=1
			]]>
			<if test='IDX > 0'>
			<![CDATA[
				AND tw.idx=#{IDX}
			]]>
			</if>								
			<if test='C_TM != null'>
				<![CDATA[
					AND tw.c_tm = #{C_TM}
				]]>
			</if>
			<if test='USR_NO != null'>
				<![CDATA[
					AND tw.usr_no = #{USR_NO}
				]]>
			</if>
			<if test='AMOUNT != null'>
				<![CDATA[
					AND tw.amount = #{AMOUNT}
				]]>
			</if>
			<if test='TXID != null'>
				<![CDATA[
					AND tw.txid = #{TXID}
				]]>
			</if>
			<if test='FROMD != null and TOD != null'>
				<![CDATA[
					AND DATE(tw.c_tm) BETWEEN #{FROMD} AND #{TOD}
				]]>
			</if>
			<![CDATA[
				ORDER BY 1 DESC
			]]>  
			<if test='PAGENO != null and ROWS != null'>
				<![CDATA[
					LIMIT	#{PAGENO}, #{ROWS}
				]]> 
			</if>
	</select>	

	<select id="countrequest" parameterType="hashMap" resultType="hashMap">
		<![CDATA[
			SELECT COUNT(*) COUNT
			FROM ${SYMBOL}_wallet.tbl_ulock_history tw 
			WHERE 1=1
			]]>
			<if test='IDX > 0'>
			<![CDATA[
				AND tw.idx=#{IDX}
			]]>
			</if>							
			<if test='C_TM != null'>
				<![CDATA[
					AND tw.c_tm = #{C_TM}
				]]>
			</if>
			<if test='USR_NO != null'>
				<![CDATA[
					AND tw.usr_no = #{USR_NO}
				]]>
			</if>
			<if test='AMOUNT != null'>
				<![CDATA[
					AND tw.amount = #{AMOUNT}
				]]>
			</if>
			<if test='TXID != null'>
				<![CDATA[
					AND tw.txid = #{TXID}
				]]>
			</if>
			<if test='FROMD != null and TOD != null'>
				<![CDATA[
					AND DATE(tw.c_tm) BETWEEN #{FROMD} AND #{TOD}
				]]>
			</if>
	</select>
			
	<select id="selectone" parameterType="hashMap" resultType="hashMap">
		<![CDATA[
			SELECT	tw.no
					, IFNULL(tw.c_tm, '0') AS c_tm
					, tw.usr_no
					, IFNULL(tw.amount, '0') AS amount
					, IFNULL(tw.txid, '0') AS txid
			FROM ${SYMBOL}_wallet.tbl_ulock_history tw
			WHERE 1=1
		]]>
		<if test='IDX > 0'>
		<![CDATA[
			AND tw.idx=#{IDX}
		]]>
		</if>
		<if test='TXID > 0'>
		<![CDATA[
			AND tw.txid=#{TXID}
		]]>
		</if>		
		<if test='AMOUNT != null'>
		<![CDATA[
			AND tw.amount=#{AMOUNT}
		]]>
		</if>
		<!-- AND tb.account_number IS NOT NULL  -->
		<!-- AND tb.account_number != '' -->
		LIMIT 0, 1		
	</select>
	
	<delete id="realdeleterequest" parameterType="hashMap">
		<![CDATA[
			delete from ${SYMBOL}_wallet.tbl_ulock_history where idx = #{IDX}
		]]>
	</delete>

</mapper>	
